@font-face {
    font-family: Bebas Neue;
    src: url('BebasNeue.otf');
}
@font-face {
    font-family: Lato;
    src: url('Lato-Regular.ttf');
}
@font-face {
    font-family: Lato Bold;
    src: url('Lato-Bold.ttf');
}
@font-face {
    font-family: Lato Italic;
    src: url('Lato-Italic.ttf');
}


body            { font-family: Lato; }
a, h1, h2       { color: #34495e; }
h1, h2          { font-family: 'Bebas Neue', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

.page           { margin: 2em auto; width: 35em; border: 5px solid #ccc;
                  padding: 0.8em; background: white; }
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }
.flash          { background: #cee5F5; padding: 0.5em;
                  border: 1px solid #aacbe2; }
.error          { background: #f0d6d6; padding: 0.5em; }

#front-content {
    text-align: center;
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    left: 40%;
}

#full-background {
    width: 100%;
    height: 100vh;
    background-image: url('equations-wallpaper.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

h1 {
    font-size: 80px;
}

.choose-friend {
    position: relative;
    top: 20%;
    left: 0;
    font-family: Lato;
    font-size: 18px;
}

.choose-friend-header {
    font-family: Lato Bold;
    font-size: 24px;
}

.choose-friend-children {
    width: 100% !important;
    /*color: #2ABB9B !important;*/
}

.green {
    color: #2ABB9B;
}

.pink {
    color: #F62459;
}

.blue {
    color: #22A7F0;
}

.orange {
    color: #E87E04;
}

#content {
    position: absolute;
    top: 9%;
    left: 20%;
    height: 80%;
    width: 60%;
}

#cosine {
    position: relative;
    top: 280px;
    left: 0px;
}

h2 {
    font-size: 48px;
    text-align: center;
    top: 35%;
    transform: translateY(-50%);
    left: 40%;
}

h3 {
    margin-top: 2px;
}

.back {
    height: 60px;
    width: 60px;
}

#back-arrow {
    height: 60px;
    width: 60px;
    position: absolute;
    top: -30px;
    left: 0;
    /*fill: #34495e;*/
}

#back-arrow:hover {
    opacity: 0.7;
    pointer-events: all;
}

#arrow-path {
    fill: #34495e;
    stroke: none;
    /*stroke: #5C5555;*/
    pointer-events: all;
}

.inline-heading {
    width: auto;
    display: inline-block;
}

.markov-sentence {
    padding-left: 8px;
    color: #2ABB9B;
    font-family: Lato Italic;
    margin-top: 0;
}

.legend {
    float: right;
    margin-top: 0px;
    margin-bottom: 40px;
    margin-right: 52px;
    font-size: 14px;
}

#labels {
    position: absolute;
    top: 40px;
    color: #fff;
}

#labels p{
    margin: 0;
    line-height: 32px;
    margin-left: 8px;
}
