<!doctype html>
<title>{{ name }}</title>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

<style>

#chart div {
  font: 10px;
  line-height: 40px;
  background-color: #34495e;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
  height: 40px;
  border-radius: 2px;
}

</style>

<div id="content">
    <h2>Your conversation with {{ name }}</h2>
    <h3>Sentiment over time</h3>
    <h3>Cosine similarity</h3>
    <div id="chart"></div>
</div>

<script>

// var data = [4, 8, 15, 16, 23, 42];
var sim = [ {{ cosine_sim }} ];
console.log(sim);

var x = d3.scale.linear()
    .domain([0, d3.max(sim)])
    .range([0, 800]);

d3.select("#chart")
  .selectAll("div")
    .data(sim)
  .enter().append("div")
    .style("width", function(d) { return x(d) + "px"; })
    .text(function(d) { return d; });

</script>