<!doctype html>
<meta charset="utf-8">
<title>{{ name }}</title>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

<style>

#chart div {
  font: 8px;
  line-height: 25px;
  background-color: #2ABB9B;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
  height: 25px;
  border-radius: 2px;
}

.corpora-bar {
    font: 8px;
      line-height: 25px;
      background-color: #2ABB9B;
      text-align: right;
      padding: 3px;
      margin: 1px;
      color: white;
      height: 25px;
      border-radius: 2px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.outbound-line {
  fill: none;
  stroke: #F62459;
  stroke-width: 1.5px;
}

.inbound-line {
  fill: none;
  stroke: #22A7F0;
  stroke-width: 1.5px;
}

</style>

<div id="content">
    <!-- <a href="/" class="back"></a> -->
    <a href="/" class="back"><svg version="1.1" id="back-arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="60px" width="60px" x="0px"
         y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
    <path id="arrow-path" d="M10,0.4c-5.303,0-9.601,4.298-9.601,9.6c0,5.303,4.298,9.601,9.601,9.601c5.301,0,9.6-4.298,9.6-9.601
        C19.6,4.698,15.301,0.4,10,0.4z M9.999,17.6c-4.197,0-7.6-3.402-7.6-7.6s3.402-7.6,7.6-7.6S17.6,5.803,17.6,10
        S14.196,17.6,9.999,17.6z M10,5.5L5.5,10l4.5,4.5V12h4V8h-4V5.5z"/>
    </svg>
    </a>
    <h2>Your conversation with {{ name }}</h2>
    <div id="markov">
        <h3 class="inline-heading">Sample sentence:</h3>
        <p class="inline-heading markov-sentence">"{{ sentence }}"</p>
    </div>
    <div id="sentiment">
        <h3 class="inline-heading">Sentiment over time</h3>
        <div class="legend"><p class="inline-heading pink">you,&nbsp;</p><p class="inline-heading blue"> friend</p></div>
    </div>
    <div id="cosine">
        <h3>Cosine similarity</h3>
        <div id="labels">
            <p>Ankita</p>
            <p>Brown</p>
            <p>Inaugural</p>
            <p>Gutenberg</p>
            <p>Webtext</p>
        </div>
        <div id="chart"></div>
        <!-- <div>
            <dl id="corpora_cosine">
              {% for key, value in corpora_sims.iteritems() %}
                <div class="corpora-bar">{{ key }}</div>
                <div class="corpora-bar">{{ value }}</div>
              {% endfor %}
            </dl>
        </div> -->
    </div>
</div>

<script>

// var data = [4, 8, 15, 16, 23, 42];
var sim = [ {{ cosine_sim }} ];
var corporasims = [ {{ corpora_sims|tojson }} ];
console.log(corporasims[0]);
corporasims = corporasims[0];
var corporasims_data = [];
corporasims_data.push(corporasims["brown"]);
corporasims_data.push(corporasims["inaugural"]);
corporasims_data.push(corporasims["gutenberg"]);
corporasims_data.push(corporasims["reuters"]);
corporasims_data.push(corporasims["webtext"]);
console.log(corporasims_data);
// console.log(sim);
// console.log(corporasim);

var x = d3.scale.linear()
    .domain([0, d3.max(sim)])
    .range([0, 800]);

d3.select("#chart")
  .selectAll("div")
    .data(sim)
  .enter().append("div")
    .style("width", function(d) { return x(d) + "px"; })
    .text(function(d) { return d; });

d3.select("#chart")
  .selectAll("div")
    .data(corporasims_data)
  .enter().append("div")
    .style("width", function(d) { return x(d) + "px"; })
    .text(function(d) { return d; });

</script>
<script type="text/javascript">
    outbound_sentiments = {{ your_sentiments|tojson }};
    inbound_sentiments = {{ friend_sentiments|tojson }};

    // console.log(inbound_sentiments[0]);

    var margin = {top: 200, right: 20, bottom: 30, left: 360},
    width = 1100 - margin.left - margin.right,
    height = 480 - margin.top - margin.bottom;

    // "Nov 13, 2014, 2:06 PM"
    var parseDate = d3.time.format("%b %e, %Y, %I:%M %p").parse;

    var x = d3.time.scale()
        .range([0, width])

    var y = d3.scale.linear()
        .range([height, 0]);

    var xAxis = d3.svg.axis()
        .scale(x)
        .orient("bottom");

    var yAxis = d3.svg.axis()
        .scale(y)
        .orient("left");

    var line = d3.svg.line()
        .x(function(d) { return x(d.date); })
        .y(function(d) { return y(d.close); });

    var svg = d3.select("body").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
      .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      var data = outbound_sentiments.map(function(d) {
          return {
             date: parseDate(d[0]),
             close: d[1]
          };

      });

      var data2 = inbound_sentiments.map(function(d) {
        return {
             date: parseDate(d[0]),
             close: d[1]
          };
      });

      // console.log(data);


      x.domain(d3.extent(data, function(d) { return d.date; }));
      y.domain(d3.extent(data, function(d) { return d.close; }));

      svg.append("g")
          .attr("class", "x axis")
          .attr("transform", "translate(0," + height + ")")
          .attr("font-size", "12px")
          .call(xAxis);

      svg.append("g")
          .attr("class", "y axis")
          .call(yAxis)
        .append("text")
          .attr("transform", "rotate(-90)")
          .attr("y", 6)
          .attr("dy", ".71em")
          .style("text-anchor", "end")
          .style("font-size", "12px")
          .text("Sentiment");

      svg.append("path")
      .datum(data2)
      .attr("class", "inbound-line")
      .attr("d", line);

      svg.append("path")
          .datum(data)
          .attr("class", "outbound-line")
          .attr("d", line);



</script>